<!-- BEGIN_INCLUDE(gcm:config) -->
<gcm:config apiKey="AIzaSyD3wK_2NzNmVjOPAIPrAMbAtzY5RLPECk4" />
<!-- END_INCLUDE(gcm:config) -->

<!-- BEGIN_INCLUDE(gcm:send-message-no-data) -->
<gcm:send-message>
    <gcm:registration-ids>
        <gcm:registration-id>a-reg-id</gcm:registration-id>
    </gcm:registration-ids>
</gcm:send-message>
<!-- END_INCLUDE(gcm:send-message-no-data) -->

<!-- BEGIN_INCLUDE(gcm:send-message-with-data) -->
<gcm:send-message>
    <gcm:registration-ids>
        <gcm:registration-id>a-reg-id</gcm:registration-id>
    </gcm:registration-ids>
    <gcm:data>
        <gcm:datum key="aKey">some data</gcm:datum>
    </gcm:data>
</gcm:send-message>
<!-- END_INCLUDE(gcm:send-message-with-data) -->

<!-- BEGIN_INCLUDE(gcm:create-notification-key) -->
<gcm:create-notification-key notificationKeyName="a-key-name">
    <gcm:registration-ids>
        <gcm:registration-id>a-reg-id</gcm:registration-id>
    </gcm:registration-ids>
</gcm:create-notification-key>
<!-- END_INCLUDE(gcm:create-notification-key) -->

<!-- BEGIN_INCLUDE(gcm:add-notification-registrations) -->
<gcm:add-notification-registrations notificationKey="a-key" notificationKeyName="a-key-name">
    <gcm:registration-ids>
        <gcm:registration-id>a-reg-id</gcm:registration-id>
    </gcm:registration-ids>
</gcm:add-notification-registrations>
<!-- END_INCLUDE(gcm:add-notification-registrations) -->

<!-- BEGIN_INCLUDE(gcm:remove-notification-registrations) -->
<gcm:remove-notification-registrations notificationKey="a-key" notificationKeyName="a-key-name">
    <gcm:registration-ids>
        <gcm:registration-id>a-reg-id</gcm:registration-id>
    </gcm:registration-ids>
</gcm:remove-notification-registrations>
<!-- END_INCLUDE(gcm:remove-notification-registrations) -->
